In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
path = 'https://github.com/AlexTheAnalyst/PortfolioProjects/raw/main/Nashville%20Housing%20Data%20for%20Data%20Cleaning.xlsx'

In [5]:
data = pd.read_excel(path, engine='openpyxl')

In [ ]:
# !pip install openpyxl

In [6]:
#the preview of the data
data.head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0

In [7]:
df = data.copy()

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56477 entries, 0 to 56476
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UniqueID         56477 non-null  int64
 1   ParcelID         56477 non-null  object
 2   LandUse          56477 non-null  object
 3   PropertyAddress  56448 non-null  object
 4   SaleDate         56477 non-null  datetime64[ns]
 5   SalePrice        56477 non-null  int64
 6   LegalReference   56477 non-null  object
 7   SoldAsVacant     56477 non-null  object
 8   OwnerName        25261 non-null  object
 9   OwnerAddress     26015 non-null  object
 10  Acreage          26015 non-null  float64
 11  TaxDistrict      26015 non-null  object
 12  LandValue        26015 non-null  float64
 13  BuildingValue    26015 non-null  float64
 14  TotalValue       26015 non-null  float64
 15  YearBuilt        24163 non-null  float64
 16  Bedrooms         24157 non-null  float64
 17  FullBath         24275 non-null  float64
 18  HalfBath         24144 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(2), object(8)
memory usage: 8.2+ MB

In [102]:
#checking the datatypes
df.dtypes

UniqueID                    int64
ParcelID                   object
LandUse                    object
PropertyAddress            object
SaleDate           datetime64[ns]
SalePrice                   int64
LegalReference             object
SoldAsVacant               object
OwnerName                  object
OwnerAddress               object
Acreage                   float64
TaxDistrict                object
LandValue                 float64
BuildingValue             float64
TotalValue                float64
YearBuilt                 float64
Bedrooms                  float64
FullBath                  float64
HalfBath                  float64
dtype: object

observing the columns

In [9]:
df.ParcelID.iloc[-1:]

56476    188 10 0A 122.00
Name: ParcelID, dtype: object

In [10]:
#checking duplicates in this columns. 
df.ParcelID.duplicated().sum()
#since there is duplicates that meanse some id are repeating. then we can transform it

7918

In [11]:
#replacing the space with -
df.ParcelID = df.ParcelID.replace(to_replace=r" ", value='-', regex=True)

#removing the .00 at the back of the values
df.ParcelID = df.ParcelID.replace(to_replace="(.{3}$)", value='', regex=True)
df.ParcelID.head()

0    007-00-0-125
1    007-00-0-130
2    007-00-0-138
3    007-00-0-143
4    007-00-0-149
Name: ParcelID, dtype: object

In [13]:
#there is nothing to be done here
df.LandUse.value_counts().head()

SINGLE FAMILY              34197
RESIDENTIAL CONDO          14080
VACANT RESIDENTIAL LAND     3547
VACANT RES LAND             1549
DUPLEX                      1373
Name: LandUse, dtype: int64

In [109]:
#we can replace multi spaces with one 
df.PropertyAddress.value_counts()

1212  LAUREL ST, NASHVILLE            296
600  12TH AVE S, NASHVILLE            208
301  DEMONBREUN ST, NASHVILLE         146
270  TAMPA DR, NASHVILLE              138
1350  ROSA L PARKS BLVD, NASHVILLE    129
                                     ...
6101  ROBERTSON AVE, NASHVILLE          1
569  STEVENSON ST, NASHVILLE            1
6004  DEAL AVE, NASHVILLE               1
6008 A  DEAL AVE, NASHVILLE             1
1713 PARK TERRACE  LN, NOLENSVILLE      1
Name: PropertyAddress, Length: 45068, dtype: int64

In [110]:
df.PropertyAddress = df.PropertyAddress.replace(r'  ', ' ', regex=True)
df.PropertyAddress.value_counts() 
# you will find out that the number of the top address has increased as a result of triming the data

# i noticed the total number has changed. it is possible some rows are empty

1212 LAUREL ST, NASHVILLE            314
600 12TH AVE S, NASHVILLE            221
270 TAMPA DR, NASHVILLE              164
301 DEMONBREUN ST, NASHVILLE         164
1350 ROSA L PARKS BLVD, NASHVILLE    146
                                    ...
455 PATINA CIR, NASHVILLE              1
443 PATINA CIR, NASHVILLE              1
447 PATINA CIR, NASHVILLE              1
453 PATINA CIR, NASHVILLE              1
1713 PARK TERRACE LN, NOLENSVILLE      1
Name: PropertyAddress, Length: 43191, dtype: int64

In [115]:
df.isna().sum() # this gives the empty rows

UniqueID               0
ParcelID               0
LandUse                0
PropertyAddress       29
SaleDate               0
SalePrice              0
LegalReference         0
SoldAsVacant           0
OwnerName          31216
OwnerAddress       30462
Acreage            30462
TaxDistrict        30462
LandValue          30462
BuildingValue      30462
TotalValue         30462
YearBuilt          32314
Bedrooms           32320
FullBath           32202
HalfBath           32333
dtype: int64

In [100]:
(df.isna().sum() / len(df) * 100)
#this is the percentage of missing values

UniqueID            0.000000
ParcelID            0.000000
LandUse             0.000000
PropertyAddress     0.051348
SaleDate            0.000000
SalePrice           0.000000
LegalReference      0.000000
SoldAsVacant        0.000000
OwnerName          55.272058
OwnerAddress       53.937001
Acreage            53.937001
TaxDistrict        53.937001
LandValue          53.937001
BuildingValue      53.937001
TotalValue         53.937001
YearBuilt          57.216212
Bedrooms           57.226836
FullBath           57.017901
HalfBath           57.249854
dtype: float64

In [118]:
df.SaleDate 
#this is a date column. th year, day and month can be extracted separately using pandas datetime.e

0       2013-04-09
1       2014-06-10
2       2016-09-26
3       2016-01-29
4       2014-10-10
           ...
56472   2015-05-27
56473   2015-03-02
56474   2016-08-16
56475   2016-09-07
56476   2016-09-07
Name: SaleDate, Length: 56477, dtype: datetime64[ns]

In [17]:
#we can generate the month and the year from the saledate column
df['Month_Year'] = df['SaleDate'].dt.to_period('M')
df.Month_Year

0        2013-04
1        2014-06
2        2016-09
3        2016-01
4        2014-10
          ...
56472    2015-05
56473    2015-03
56474    2016-08
56475    2016-09
56476    2016-09
Name: Month_Year, Length: 56477, dtype: period[M]

In [18]:
df['year'] = pd.DatetimeIndex(df['SaleDate']).year
df['month'] = pd.DatetimeIndex(df['SaleDate']).month

In [19]:
df.month

0         4
1         6
2         9
3         1
4        10
         ..
56472     5
56473     3
56474     8
56475     9
56476     9
Name: month, Length: 56477, dtype: int64

In [20]:
df.year

0        2013
1        2014
2        2016
3        2016
4        2014
         ...
56472    2015
56473    2015
56474    2016
56475    2016
56476    2016
Name: year, Length: 56477, dtype: int64

In [124]:
df.SalePrice

0        240000
1        366000
2        435000
3        255000
4        278000
          ...
56472    157500
56473    145000
56474    234611
56475     93844
56476     93844
Name: SalePrice, Length: 56477, dtype: int64

In [126]:
df.LegalReference.value_counts()

20150511-0042855    116
20150202-0009517     92
20130702-0068072     85
20140106-0001071     78
20150513-0043661     72
                   ...
20150901-0088376      1
20131002-0103162      1
20151215-0125807      1
20141021-0096963      1
20161018-0109912      1
Name: LegalReference, Length: 52761, dtype: int64

In [129]:
df.SoldAsVacant.value_counts()

No     51403
Yes     4623
N        399
Y         52
Name: SoldAsVacant, dtype: int64

In [132]:
#so we can change the N to No and y to yes
df.SoldAsVacant = df.SoldAsVacant.replace({'N':'No', 'Y':'Yes'})
df.SoldAsVacant.value_counts()

No     51802
Yes     4675
Name: SoldAsVacant, dtype: int64

In [135]:
df.OwnerName
#if you remember from this col to the last one, 
#50 percent of the data is missing. you can decide to fill the nan values with None

0                 FRAZIER, CYRENTHA LYNETTE
1                   BONER, CHARLES & LESLIE
2                 WILSON, JAMES E. & JOANNE
3                  BAKER, JAY K. & SUSAN E.
4        POST, CHRISTOPHER M. & SAMANTHA C.
                        ...
56472                                   NaN
56473                                   NaN
56474                                   NaN
56475                                   NaN
56476                                   NaN
Name: OwnerName, Length: 56477, dtype: object

In [24]:
missing_cols = ['OwnerName',
       'OwnerAddress', 'Acreage', 'TaxDistrict', 'LandValue', 'BuildingValue',
       'TotalValue', 'YearBuilt', 'Bedrooms', 'FullBath', 'HalfBath']
#we can fill NaN values with 0

In [139]:
#we can fill the Nan values with 0
df.Acreage

0        2.3
1        3.5
2        2.9
3        2.6
4        2.0
        ...
56472    NaN
56473    NaN
56474    NaN
56475    NaN
56476    NaN
Name: Acreage, Length: 56477, dtype: float64

In [35]:
df.Acreage = df.Acreage.replace(to_replace=np.NaN, value=0)
df.Acreage

0        2.3
1        3.5
2        2.9
3        2.6
4        2.0
        ...
56472    0.0
56473    0.0
56474    0.0
56475    0.0
56476    0.0
Name: Acreage, Length: 56477, dtype: float64

In [22]:
#you can replace with 0 
df.LandValue = df.LandValue.replace(to_replace=np.NaN, value=0)
df.LandValue

0        50000.0
1        50000.0
2        50000.0
3        50000.0
4        50000.0
          ...
56472        0.0
56473        0.0
56474        0.0
56475        0.0
56476        0.0
Name: LandValue, Length: 56477, dtype: float64

In [25]:
missing_cols

['OwnerName',
 'OwnerAddress',
 'Acreage',
 'TaxDistrict',
 'LandValue',
 'BuildingValue',
 'TotalValue',
 'YearBuilt',
 'Bedrooms',
 'FullBath',
 'HalfBath']

In [26]:
df.BuildingValue = df.BuildingValue.replace(to_replace=np.NaN, value=0)
df.BuildingValue

0        168200.0
1        264100.0
2        216200.0
3        147300.0
4        152300.0
           ...
56472         0.0
56473         0.0
56474         0.0
56475         0.0
56476         0.0
Name: BuildingValue, Length: 56477, dtype: float64

In [28]:
df.TotalValue = df.TotalValue.replace(to_replace=np.NaN, value=0)
df.TotalValue

0        235700.0
1        319000.0
2        298000.0
3        197300.0
4        202300.0
           ...
56472         0.0
56473         0.0
56474         0.0
56475         0.0
56476         0.0
Name: TotalValue, Length: 56477, dtype: float64

In [29]:
df.Bedrooms = df.Bedrooms.replace(to_replace=np.NaN, value=0)
df.Bedrooms

0        3.0
1        3.0
2        4.0
3        3.0
4        4.0
        ...
56472    0.0
56473    0.0
56474    0.0
56475    0.0
56476    0.0
Name: Bedrooms, Length: 56477, dtype: float64

In [30]:
df.FullBath = df.FullBath.replace(to_replace=np.NaN, value=0)
df.FullBath

0        3.0
1        3.0
2        3.0
3        3.0
4        3.0
        ...
56472    0.0
56473    0.0
56474    0.0
56475    0.0
56476    0.0
Name: FullBath, Length: 56477, dtype: float64

In [31]:
df.HalfBath = df.HalfBath.replace(to_replace=np.NaN, value=0)
df.HalfBath

0        0.0
1        2.0
2        0.0
3        0.0
4        0.0
        ...
56472    0.0
56473    0.0
56474    0.0
56475    0.0
56476    0.0
Name: HalfBath, Length: 56477, dtype: float64

In [37]:
df.YearBuilt = df.YearBuilt.replace(to_replace=np.NaN, value=0)
df.YearBuilt

0        1986.0
1        1998.0
2        1987.0
3        1985.0
4        1984.0
          ...
56472       0.0
56473       0.0
56474       0.0
56475       0.0
56476       0.0
Name: YearBuilt, Length: 56477, dtype: float64

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56477 entries, 0 to 56476
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UniqueID         56477 non-null  int64
 1   ParcelID         56477 non-null  object
 2   LandUse          56477 non-null  object
 3   PropertyAddress  56448 non-null  object
 4   SaleDate         56477 non-null  datetime64[ns]
 5   SalePrice        56477 non-null  int64
 6   LegalReference   56477 non-null  object
 7   SoldAsVacant     56477 non-null  object
 8   OwnerName        25261 non-null  object
 9   OwnerAddress     26015 non-null  object
 10  Acreage          26015 non-null  float64
 11  TaxDistrict      26015 non-null  object
 12  LandValue        56477 non-null  float64
 13  BuildingValue    56477 non-null  float64
 14  TotalValue       56477 non-null  float64
 15  YearBuilt        24163 non-null  float64
 16  Bedrooms         56477 non-null  float64
 17  FullBath         56477 non-null  float64
 18  HalfBath         56477 non-null  float64
 19  Month_Year       56477 non-null  period[M]
 20  year             56477 non-null  int64
 21  month            56477 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(4), object(8), period[M](1)
memory usage: 9.5+ MB

In [40]:
df.TaxDistrict

0        GENERAL SERVICES DISTRICT
1        GENERAL SERVICES DISTRICT
2        GENERAL SERVICES DISTRICT
3        GENERAL SERVICES DISTRICT
4        GENERAL SERVICES DISTRICT
                   ...
56472                          NaN
56473                          NaN
56474                          NaN
56475                          NaN
56476                          NaN
Name: TaxDistrict, Length: 56477, dtype: object

In [47]:
df.PropertyAddress= df.PropertyAddress.fillna(0)
df.TaxDistrict = df.TaxDistrict.fillna(0)
df.OwnerName = df.OwnerName.fillna(0)
df.OwnerAddress = df.OwnerAddress.fillna(0)

In [48]:
df.isna().sum()

UniqueID           0
ParcelID           0
LandUse            0
PropertyAddress    0
SaleDate           0
SalePrice          0
LegalReference     0
SoldAsVacant       0
OwnerName          0
OwnerAddress       0
Acreage            0
TaxDistrict        0
LandValue          0
BuildingValue      0
TotalValue         0
YearBuilt          0
Bedrooms           0
FullBath           0
HalfBath           0
Month_Year         0
year               0
month              0
dtype: int64